bidict==0.23.1
bleak==0.22.2
blinker==1.8.2
brainflow==5.13.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.15.4
Flask==3.0.3
Flask-SocketIO==5.3.6
gunicorn==21.2.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
NeuroPy==0.1
numpy==2.1.0
pandas==2.2.2
platformdirs==4.2.2
pyee==11.1.0
pyserial==3.5
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
setuptools==58.0.4
simple-websocket==1.0.0
six==1.16.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.3
Werkzeug==3.0.3
wsproto==1.2.0
