.bodyin{
    /*background-image: url(img/Inicio.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /* overflow: hidden; Oculta las barras de desplazamiento */
}

header{
    margin: 0%;
    display:flex;
    background-color: #00ccbb;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI';
    padding: 17px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.muestra{
    border-bottom: 2px solid#abf7e0;
    padding-bottom: 2px;
    cursor: pointer;
}

.divi{
    display: flex;
}

.contenedor1, .contenedor2{
    padding: 2%;
    align-content: center;
    width: 48%
    
}

img{
    border-radius: 7px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 95%;
}

h1{
    color: #0E6D5B;
    text-align: center;
    padding-top: 70px;
    font-family: 'fangsong';
    font-size: 40px;
}

.titulo{
    color: #0E6D5B;
    text-align: center;
    font-family: 'fangsong';
    font-size: 40px;
}

.pini{
    color: #0E6D5B;
    padding: 40px;
    font-family: 'fangsong';
    font-size: 23px;
}

a{
    color: white;
    text-decoration: none;
    margin: 13px;
    font-size: 23px;
}

a:hover{
    border-bottom: 2px solid#abf7e0;
    padding-bottom: 2px;
}

.logo{
    color: white;
    font-size: 30px;
    font-family: 'fangsong';
}

.separador{
    padding: 30px;
}

.inicio {
    color: white;
    background: #0E6D5B;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: sans-serif;
}

.inicio:hover {
    background-color: white;
    color: #0E6D5B;
    border: 2px solid #0E6D5B;
    padding: 10px 40px;
}


/*-------------------------------------help-----------------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}


.inter {
    display: flex;
    margin-top: 5%;
}

.container {
    display: flex;
}

.menu {
    width: 18%;
    margin: 2%;
    /*display: block;*/
    text-align: left;
    background-color: #f8f8f8;
    padding: 10px;
    z-index: 10; /* Asegura que el menú esté encima */
    transition: opacity 0.5s ease, top 0.5s ease; /* Transición suave para opacity y top */
    opacity: 1; /* Asegura que el menú sea visible por defecto */
}

body {
    margin: 0;
}



.menu a{
    width: auto;
    color:#00ccbb;
    display: block;
}

.tex{
    /*border: 3px solid rgb(153, 153, 153);*/
    border-radius: 10px;
    width: 68%;
    margin: 2%;
    padding-left: 23%;
}

.tex h1{
    padding: 2%;
    font-size: 60px;
    /*background: linear-gradient(to bottom, #00ffdd, ); */
    color: #0E6D5B;
    border-radius: 2px;
    font-family:'Inter', sans-serif ;
}

.tex p{
    color: #0E6D5B;
    text-align: start;
    font-family: sans-serif;
    font-size: 24px;
}

h2{
    padding: 2%;
    font-size: 60px;
    /*background: linear-gradient(to bottom, #00ffdd, #0077ff); */
    color: #0E6D5B;
    border-radius: 2px;
    font-family:'Inter', sans-serif ;
}

.pini img{
    width: 75%;
}

.tex p{
    color: #0E6D5B;
    text-align: start;
    font-family: sans-serif;
}

.tex ol{
    color: #0E6D5B;
    text-align: start;
    font-family: sans-serif;
    font-size: 21px;
}

/* Estilos base del carrusel */
.carrusel {
    position: relative;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    overflow: hidden;
}

.out{
    color: white;
    text-align: start;
    font-family: sans-serif;
    font-size: 21px;
    margin-left: 5%;
    margin-right: 5%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    box-shadow: none;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide-content{
    display: flex;
    width: 95%;
}

.slide img {
    width: 100%;
    height: auto;
}

.texto {
    padding: 20px;
    text-align: center;
    width: 50%;
    font-size: 17px;
}

.texto h2{
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}

.texto p{
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    font-size: large;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.new {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/static/img/puerto.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.tit{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    padding: 3%;
}
