<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body">
    <header>
        <div class="logo">MindWave BCI</div>
        <div>
            <a href="/">Inicio</a>
            <a href="/diademas">Diademas</a>
        </div>
    </header>
    <hr>
    <br>
    <br>
    <div class="tex">
        <h1>¡Gracias por usar MultiMind!</h1>
        <p class="pini">Nuestra plataforma le permite aprovechar al máximo las diademas MindWave Mobile para la lectura de ondas cerebrales mediante BCI (Interfaz Cerebro-Computadora). Con NeuroExplorer, puede monitorear, analizar y entender su actividad cerebral en tiempo real de manera intuitiva y accesible. Ya sea que sea un investigador, desarrollador o simplemente un entusiasta de la neurotecnología, nuestra herramienta le proporciona todo lo que necesita para monitorear y adentrarse en el fascinante mundo de las ondas cerebrales.</p>
        <h1>Como usar nuestra  plataforma</h1>
        <p class="pini">1. Conecta la diadema por medio de Bluetooth <br> 2. Si es requerido, ingresa la contarseña "0000"
        <br> 3. Asegura la conexión <br> 4. Conecta a los puertos COM3 o COM4 para cada diadema <br> 5. Visualiza los datos en tiempo real!!</p>
    </div>
    
</body>
</html>
